* { 
    margin: 0;  
    font-family:  'Ubuntu', sans-serif;   
    
} 
body{ 
    margin: 0;  
    background-color: #e0e0e0;   
    overflow-x: hidden; 
    width: 100%;
} 
 /* -----------header section----------   */
header #head { 
    background-color: rosybrown;   
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;  
    padding-left: 1%;  
     
     
}  
.table_td{
    padding: 10px 20px;             
    align-items: center; 
    align-content: center;
}
header { 
    position: fixed; 
    margin: auto 0; 
    top: 0; 
    background-color: rosybrown; 
    margin: 0; 
    position: sticky; 
    background-attachment: fixed; 
}     
#head{ 
    display: flex;
    flex-direction: row; 
    justify-content: center;              
    align-items: center; 
    align-content: center; 
    padding: 0 1%;
    height: 60px; 
    width: 100%; 
}   
 
.header_login{ 
    text-decoration: none; 
    color: black;  
    display: flex;
    flex-direction: row; 
    justify-content: center;              
    align-items: center; 
    align-content: center; 
    padding: 0 1%;               
} 
.container-fluid { 
    background-image: url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg");  
    height: 380px;   
    background-repeat: no-repeat;  
    background-position: center; 
    background-size: cover;    
    display: flex; 
    align-items: center; 
    justify-content: center;   
    width:100%; 
     
        
}
.box{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
} 
.first{
    margin: auto 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    position: relative;
}
.second{
    margin: auto 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    position: relative;
} 
.item{
    margin: 4%;
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    box-shadow: 10px 10px 10px rgb(30,30,30);
    border-radius: 25px;
}
.item:hover .overlay{
    opacity: 0.5;
}  
.overlay { 
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 150px; 
    width: 150px; 
    opacity: 0; 
    transition: 0.3s ease-in-out; 
    background-color: rgb(30, 30, 30) ;  
    border-radius: 25px;
    cursor: pointer;
}  
.text { 
    position:relative; 
    text-align: center; 
    justify-content: center; 
    margin-top: 45%;  
    color: rgb(255, 255, 255); 
}  
.container-fluid form  { 
    background-color: #f1f1f1; 
    width: 29%; 
    border-radius: 12px ;  
}  
.container-fluid form input{  
    border: 1px solid transparent; 
    border-radius: 12px; 
    padding: 10px;  
    width: 100%;  
    font-size: 16px;  
    outline: none; 
}  
.container form  { 
    background-color: #f1f1f1; 
    width: 29%; 
    border-radius: 12px ;  
}  
.container form input{  
    border: 1px solid transparent; 
    border-radius: 12px; 
    padding: 10px;  
    width: 100%;  
    font-size: 16px;  
    outline: none; 
}   
 
#box img{ 
    height: 150px; 
    width: 150px;   
    border-radius: 25px;  
}   
#content{
    width: 100%;
}  
 
.view_more{ 
    margin: 30px;
    display: flex;
    flex-direction: row; 
    justify-content: center;              
    align-items: center; 
    align-content: center;
}   
 
/* Footer div*/   
 
 
footer{ 
    margin: auto 0; 
    width: 100%;
    bottom: 0; 
    padding: 1%; 
    background-color: rosybrown;  
     background-attachment: fixed;   
    display: flexbox; 
}   
   
 
#footer_main { 
     justify-content: center; 
     align-items: center;  
     display: flex;  
     justify-content: space-between; 
 }  
  .copyright { 
    margin-left: 28%;  
    padding-left: 9%; 
    font-size: 10px;  
    font-weight: 400; 
    text-align: center;
  
  }   
  .social { 
    margin-left: 18%; 
    margin-right: 2%; 
    padding-right: 1%;
    margin-inline-end: 0;  
    padding-left: 15%; 
     
  }  
  .contact { 
    margin-left: 2%; 
    margin:0;  
    padding-left:1%;
    text-align: center;
    display: flex;
    justify-content: center;              
    align-items: center; 
    align-content: center;    
 
  }  
  .contact a { 
    text-decoration: none; 
    color: black; 
  }
  .social img { 
    height: 20px; 
    width: 22px; 
}

  .modal-footer{
    display: flex;
    /* flex-direction: row;  */
    justify-content: center;              
    align-items: center; 
    align-content: center;
  }
  .modal-body{
    display: flex;
    /* flex-direction: row;  */
    justify-content: center;              
    align-items: center; 
    align-content: center;
  }

