*{ 
    box-sizing: border-box; 
    font-family:  'Ubuntu', sans-serif;
} 
.checked {
    color: orange;
  }
body{ 
    margin: 0;  
    background-color: #e0e0e0;   
    overflow-x: hidden; 
    width: 100%;
} 
/* --------------Header-------------*/
header #head { 
    background-color: rosybrown;   
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;  
    padding-left: 1%;  
     
     
}  
.table_td{
    padding: 10px 20px;             
    align-items: center; 
    align-content: center;
}
header { 
    position: fixed; 
    margin: auto 0; 
    top: 0; 
    background-color: rosybrown; 
    margin: 0; 
    position: sticky; 
    background-attachment: fixed; 
}     
#head{ 
    display: flex;
    flex-direction: row; 
    justify-content: center;              
    align-items: center; 
    align-content: center; 
    padding: 0 1%;
    height: 60px; 
    width: 100%; 
}   
 
.header_login{ 
    text-decoration: none; 
    color: black;  
    display: flex;
    flex-direction: row; 
    justify-content: center;              
    align-items: center; 
    align-content: center; 
    padding: 0 1%;               
} 
 
/*content*/  
 
#first img { 
 height: 250px; 
 width: 280px;  
}   
 #content_box {  
    padding-left: 3em; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    padding-right: 2em; 
}  
.nav_div{
    display: flex;
    flex-direction: row;
    justify-content: center;              
    align-items: center; 
    align-content: center;
}
.nav_div a{
    color: black; text-decoration: none;
}
 
.one { 
    margin: 2%; 
    height: 250px; 
    width: 42%;  
    background-color: lightgrey;   
    display: flex;      
}
.one:hover{
    background-color: rosybrown;
}   
.description_1{ 
    padding-left: 1em;  
    font-size: 20px; 
}  
.two { 
    margin: 2%; 
    height: 250px; 
    width: 42%;  
    background-color: lightgrey;   
    display: flex;    
}
.two:hover{
    background-color: rosybrown;
}    
.description_2{ 
    padding-left: 1em;  
    font-size: 20px; 
}   
 
.three { 
    margin: 2%; 
    height: 250px; 
    width: 42%;  
    background-color:lightgray;  
    display: flex; 
} 
.three:hover{
    background-color: rosybrown;
}   
.description_3{ 
    padding-left: 1em;  
    font-size: 20px; 
}    
 
div ul{ 
    list-style: none; 
    display: flex;   
    flex-direction: row; 
    justify-content: center;  
    padding: 0.5em;     
    font-size: 18px;  
}  
div ul .list1 { 
    padding-right: 3em; 
} 
div ul a{ 
    text-decoration: none; 
     color: black; 
    font-weight: bold;  
    width: 100%; 
}  
    
.one a{ 
    text-decoration: none; 
    color: black; 
}   
#map_view{ 
    display: contents; 
}  
 
 /* Footer div*/   
 
 
 footer{ 
    margin: auto 0; 
    width: 100%;
    bottom: 0; 
    padding: 1%; 
    background-color: rosybrown;  
    background-attachment: fixed;   
    display: flexbox;
}   


#footer_main { 
    justify-content: center; 
    align-items: center;  
    display: flex;  
    justify-content: space-between; 
}  
.copyright { 
margin-left: 28%;  
padding-left: 9%; 
font-size: 10px;  
font-weight: 400; 
text-align: center;

}   
.social { 
margin-left: 18%; 
margin-right: 2%; 
padding-right: 1%;
margin-inline-end: 0;  
padding-left: 15%; 
 
}  
.contact { 
margin-left: 2%; 
margin:0;  
padding-left:1%;
text-align: center;
display: flex;
justify-content: center;              
align-items: center; 
align-content: center;    

}  
.contact a { 
text-decoration: none; 
color: black; 
}
.social img { 
    height: 20px; 
    width: 22px; 
}

.modal-footer{
display: flex;
flex-direction: row;
justify-content: center;              
align-items: center; 
align-content: center;
}
.modal-body{
display: flex;
/* flex-direction: row;  */
justify-content: center;              
align-items: center; 
align-content: center;
}