* { 
    margin: 0;  
    font-family:  'Ubuntu', sans-serif;   
    box-sizing: border-box;
    
} 
/* --------------Header-------------*/
header #head { 
    background-color: rosybrown;   
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;  
    padding-left: 1%;  
     
     
}  
.table_td{
    padding: 10px 20px;             
    align-items: center; 
    align-content: center;
}
header { 
    position: fixed; 
    margin: auto 0; 
    top: 0; 
    background-color: rosybrown; 
    margin: 0; 
    position: sticky; 
    background-attachment: fixed; 
}     
#head{ 
    display: flex;
    flex-direction: row; 
    justify-content: center;              
    align-items: center; 
    align-content: center; 
    padding: 0 1%;
    height: 60px; 
    width: 100%; 
}   
 
.header_login{ 
    text-decoration: none; 
    color: black;  
    display: flex;
    flex-direction: row; 
    justify-content: center;              
    align-items: center; 
    align-content: center; 
    padding: 0 1%;               
} 

/*------------------ Body section-------------*/
body{ 
    background-color: #e0e0e0;  
    margin: 0;
    box-sizing: border-box; 
 
}
.main{
    background-color: #e0e0e0; 
}

#div_content{ 
    width: 100%;
    background-color: #e0e0e0;  
} 

.first { 
    background-color: rgb(132, 136, 139);  
    width: 50%; 
    height: 20%; 
    margin: 2% auto;
    margin-top: 5%; 
    display: flex;
    flex-direction: row;
}  
.first img{
    height: 270px; width: 300px; margin-left: 0;
}
.hotel_d{
    align-content: center; 
    display: flex;         
    justify-content: center;              
    align-items: center; 
    padding: 3%;
}
.second { 
    margin: 20px 0; 
}  
.third { 
    margin: 20px 2%;  
    border: 1px solid black; 
    border-radius: 5px;
    background-color: rosybrown;
    display: flex;
    flex-direction: row; 
    justify-content: center;              
    align-items: center; 
    align-content: center; 
}  
.third{ 
    padding: 1% 2% ; 
}
.third div p b{
    font-family: cursive;
}
.paynow{
    text-decoration: none; 
    color: black; 
}

/* Footer div*/   
 
 
footer{ 
    margin: auto 0; 
    width: 100%;
    bottom: 0; 
    padding: 1%; 
    background-color: rosybrown;  
    background-attachment: fixed;   
    display: flexbox; 
}   


#footer_main { 
    justify-content: center; 
    align-items: center;  
    display: flex;  
    justify-content: space-between; 
}  
.copyright { 
margin-left: 28%;  
padding-left: 9%; 
font-size: 10px;  
font-weight: 400; 
text-align: center;

}   
.social { 
margin-left: 18%; 
margin-right: 2%; 
padding-right: 1%;
margin-inline-end: 0;  
padding-left: 15%; 
 
}  
.contact { 
margin-left: 2%; 
margin:0;  
padding-left:1%;
text-align: center;
display: flex;
justify-content: center;              
align-items: center; 
align-content: center;    

}  
.contact a { 
text-decoration: none; 
color: black; 
}
.social img { 
    height: 20px; 
    width: 22px; 
}

.modal-footer{
display: flex;
flex-direction: row;
justify-content: center;              
align-items: center; 
align-content: center;
}
.modal-body{
display: flex;
/* flex-direction: row;  */
justify-content: center;              
align-items: center; 
align-content: center;
}